.nav {
  width: 900px;
  margin: 0 auto;
  background-color: rgba(226, 226, 226, 0.31);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 20px;
}

.nav ul a {
  text-decoration: none;
}
